/**
 * Created by JetBrains WebStorm.
 * User: linfusheng
 * Date: 13-07-09 ����16:12
 * Mail: linfusheng@ppstream.com
 */
 body{font:12px/24px "Microsoft YaHei","微软雅黑",Tahoma,arial}
#ft{border-top:1px solid #c6c6c6;padding-bottom:30px;margin-top:14px;text-align:center;}
#ft .bd{border-top:1px solid #f2f2f2;padding-top:10px;}
#ft a{color:#383838;padding:0 15px;}