/**
 * Created by JetBrains WebStorm.
 * User: linfusheng
 * Date: 13-07-09 ����10:12
 * Mail: linfusheng@ppstream.com
 */
 body{font:12px/24px "Microsoft YaHei","微软雅黑",Tahoma,arial}
.thead th,.thead2 th{background-image:url(../../image/oa_ico.png);background-repeat:repeat-x;}

 /*==_meeting_table==*/
.table-bx{border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5;zoom:1;overflow:hidden}
.table-bx .f-text{border:0;background-color:transparent;text-align:center;font-family:"Microsoft YaHei","微软雅黑",Tahoma,arial;}
.table-bx .f-text-input{background-color:#FFF}

	.thead th,.thead2 th{border-bottom:1px solid #c4c4c4;border-right:1px solid #c4c4c4;height:38px;white-space:nowrap;}
	.thead th{padding:0 10px}
	.thead2 th{text-align:center}

	.tbody td,.tbody2 td{padding:2px 4px;text-align:center;border-bottom:1px solid #dfdfdf;border-right:1px solid #dfdfdf;background-color:#f9f9f9}
	.tbody .left{text-align:left}
	
	.tbody2 .td2,.thead2 .th2{border-right:0;}
	.tbody2 .name{text-align:left;padding:5px 15px}
	.tbody2 .name em{margin-left:10px}
	.tfoot2{background-color:#F9F9F9;height:35px;line-height:35px;padding:0 10px}
	
	.condition{text-align:left;height:20px;line-height:20px}
	.condition .del{width:10px;height:10px;display:inline-block;line-height:10px;overflow:hidden;margin-left:5px;vertical-align:baseline;text-indent:-999em}

 /*==/_meeting_table==*/

 /*==_myclockingin_table==*/
.table-bd{width:50%; float:left; padding-left:1px;margin-left:-1px}
.mt-ps{padding:5px 10px;zoom:1;clear:both} 
 /*==_myclockingin_table==*/
 
 /*==_dailymaintain_table==*/
.dm-bx{text-align:left}
	.dm-bx .fl{width:448px;border-right:1px solid #e5e5e5;padding:5px 10px}  
	.dm-bx .fr{width:448px;padding:5px 10px}
	.dm-bx dl{zoom:1;overflow:hidden}
	.dm-bx dt{float:left}
	.dm-bx dd{zoom:1;float:left;width:370px}
	.dm-bx .fl dd{width:370px}
	.dm-bx .fr dd{width:390px}
	.w0{width:70px}.w1{width:80px}.w2{width:290px}
	.w02{width:50px}.w12{width:60px}.w22{width:330px}
	.dm-bx ul{zoom:1;overflow:hidden}
	.dm-bx li{zoom:1;overflow:hidden;margin-bottom:3px}
	.dm-bx li .title{float:left;font-weight:700} 
	.dm-bx li .cont{word-wrap:break-word;float:left}
 /*==/_dailymaintain_table==*/ 

 /*==_rolelimits_table==*/
 .rck-bx{zoom:1;overflow:hidden}
   .rck-bx .rck{display:inline-block;margin-right:3px}
   .rck-bx label{white-space:nowrap;float:left;margin-right:10px;height:22px}
   .dt-bx dt{padding-bottom:2px;font-weight:700}
 /*==/_rolelimits_table==*/ 
 
/*dialog table*/
.dialog-table{margin-top:10px}
	.dialog-table .hd{height:35px;line-height:35px;border-left:1px solid #BAC3CC;border-right:1px solid #BAC3CC;position:relative;overflow:hidden;padding-left:12px}
	.dialog-table table{border-bottom:2px solid #e5e5e5;border-left:1px solid #e5e5e5;border-right:1px solid #e5e5e5}
	.dialog-table th{height:25px;border-top:1px solid #798997}
	.dialog-table tfoot td{padding:3px 0}
	.dialog-table tfoot td span,.dialog-table tfoot td select{vertical-align:middle}
 	.dialog-table td{height:25px;line-height:25px;border-bottom:1px solid #e5e5e5;background:#f9f9f9;text-align:center}
	.dialog-table td label{ vertical-align:top}
	.dialog-table input{margin-right:5px;vertical-align:middle}
	.dialog-table .pp-page{text-align:right;padding-right:5px}
	.pp-page em{color:#069}

/*page-nav{}*/
.page-nav{padding-top:13px}

 
 














