/**
 * Created by JetBrains WebStorm.
 * User: linfusheng
 * Date: 13-07-08 ����16:12
 * Mail: linfusheng@ppstream.com
 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
body{font:12px/24px "Microsoft YaHei","微软雅黑",Tahoma,arial;word-break:break-all;text-align:center;color:#383838;background:#FFF url(../../image/login/login-bg.png) center top repeat}
fieldset,img{border:none 0} 
table {border-collapse:collapse;border-spacing:0} 
ol,li,ul{list-style:none}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%} 
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
input,select,textarea{color:#383838;font:normal normal 12px "Microsoft YaHei","微软雅黑",arial,Verdana;}
input,textarea,select{*font-size:100%}
textarea,input[type|="text"],input[type|="password"]{-webkit-appearance:none/*ȥ��webkit�������Щ��ǩ��Ĭ����ʽ*/}
textarea{resize:none}
/* �������� [�������Сдf���������] */
.fB{font-weight:bold}
.fI{font-style:italic}
/* �����С*/
.fs12{font-size:12px}
.fs14{font-size:14px}
.mr10{margin-right:10px}
.ml10{margin-left:10px}
.mt10{margin-top:10px}
.mb10{margin-bottom:10px}
/* ����*/
.fl{float:left}
.fr{float:right}
/* ��������*/
.tal{text-align:left!important}
.hide{display:none}
.module{zoom:1}
/*table*/
.table li{float:left;overflow:hidden;}
.table ul{overflow:hidden;zoom:1}
/*lrBx*/
.lrbx{zoom:1}
.lrbx:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.lrBx,.lrBx .rbx{overflow:hidden;zoom:1}
.lrBx .lbx{float:left;_margin-right:-3px}
.lrBx .lbx img{vertical-align:top}
/*.lrBx .rbx{padding-left:10px}*/
/*==clear==*/
.clear{overflow:hidden;zoom:1}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
* html>body .clearfix {display: inline-block;width:100%}
* html .clearfix{/* Hides from IE-mac \*/height: 1%;/* End hide from IE-mac */}
/* ie7 hack*/
*+html .clearfix {min-height:1%}
.clearboth{float:none;height:0px;font-size:0px;line-height:0px;overflow:hidden;clear:both}
.pitch{margin-bottom:14px}/*���*/
.stress{color:#f00}
.ignore{color:#909090}
.or{color:#ff5400}
a{color:#006699;text-decoration:none;outline:none}
a:hover{text-decoration:underline}
.wp{zoom:1;min-width:960px}
.oa-header,#bd,#ft{ min-width:960px;max-width:1200px;_width:1200px;margin:0 auto;text-align:left}

.icon,.but,.oa-select-bx span,.oa-select #oa-select-bx{background-image:url(../../image/oa_ico.png);background-repeat:no-repeat;}
.bx .hd{background-image:url(../../image/oa_ico.png);background-repeat:repeat-x;}
.pp-icon,.last-icon{background:url(../../image/treeview-icon.png) no-repeat}
.fm-bx .correct,.fm-bx .wrong,.f-pps,.f-data,.f-company{background:url(../../image/oa7.png) no-repeat}

/*but*/
.but,.but2{background-position:0 -207px;border:0;cursor:pointer;height:30px;line-height:30px;width:69px;display:inline-block;overflow:hidden;color:#fff;font-family:"Microsoft YaHei","微软雅黑",Tahoma,arial;text-align:center;zoom:1;}
.but2{background-color:#f3f3f3;border:1px solid #c4c4c4;height:26px;color:#383838;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;line-height:26px;}

/*form*/
input,select,label,.but,
.fm-bx .correct,.fm-bx .wrong,.fm-bx .tip{vertical-align:middle}
.f-text{background-color:#f3f3f3;width:91px;border:1px solid #c4c4c4;padding:2px;height:22px;}
.f-textarea{background-color:#f3f3f3;border:1px solid #c4c4c4;padding:2px;vertical-align:middle}
.f-select{background-color:#f3f3f3;border:1px solid #c4c4c4;padding:2px}
.f-file{margin-right:0;background-color:#FFF;height:23px}
.f-data{background-position:right -29px;cursor:pointer;}
.f-pps{background-color:#FFF;background-position:right -57px}
.f-company{background-color:#FFF;background-position:right 3px}
.f-radio,.f-chcbx{margin-top:-3px;}
.fm-act{zoom:1;overflow:hidden}

.fm-bx .correct,.fm-bx .wrong,.fm-bx .tip{ display:inline-block; line-height:22px; padding-left:16px; margin-left:10px}
.fm-bx .correct{ background-position:0 -85px; color:#090}
.fm-bx .wrong{ background-position:4px -113px; color:#F00}
.fm-bx .tip{ color:#999; padding-left:0}
/*form*/


/*icon*/
.icon{background-position:-121px -94px;width:5px;height:5px;display:block;overflow:hidden}
	.icon-0{width:14px;height:14px;background-position:-72px -136px}
	.icon-1{width:14px;height:14px;background-position:-86px -136px}
	.icon-2{width:5px;height:5px;background-position:-116px -94px}
	.icon-3{width:17px;height:18px;background-position:0 -136px}
	.icon-4{width:13px;height:11px;background-position:-100px -136px}
	.icon-5{width:16px;height:16px;background-position:-113px -136px}
	.icon-6{width:20px;height:19px;background-position:-52px -136px}
	.icon-7{width:17px;height:19px;background-position:-17px -136px}
	.icon-8{width:9px;height:5px;background-position:-116px -99px}
	.icon-9{width:15px;height:19px;background-position:-100px -106px}
	.icon-10{width:16px;height:12px;background-position:-100px -125px}
	.icon-13{width:18px;height:16px;background-position:-34px -136px}

	.icon-man{width:16px;height:16px;overflow:hidden;background-position:-50px -218px}
/*icon*/

#bd{height:auto!important;height:600px;min-height:600px}
	.bd-bx{background:#f3f3f3;border:1px solid #c4c4c4;-moz-box-shadow:1px 5px 5px #d1d1d1;-webkit-box-shadow:1px 5px 5px #d1d1d1;box-shadow:1px 5px 5px #d1d1d1;}
	.crumb{zoom:1;margin-bottom:5px;position:absolute;right:0;top:2px;font-family:"Microsoft YaHei","微软雅黑",Tahoma,arial}
		.crumb a{color:#383838}
		.retrieval{zoom:1;overflow:hidden;padding:24px 0}
		.retrieval input,.retrieval label,.retrieval select{margin-right:4px}
		.retrieval .memu-item .but{margin-left:5px}
	

/*data-gather*/
.data-gather .d-hd{}
		.data-gather .d-hd h2{font-weight:normal}
		.data-gather .d-hd .icon{position:absolute;left:12px;top:16px}
		.data-gather .d-bd{background-color:#f3f3f3;border:1px solid #c4c4c4;-moz-box-shadow:1px 5px 5px #d1d1d1;-webkit-box-shadow:1px 5px 5px #d1d1d1;box-shadow:1px 5px 5px #d1d1d1;zoom: 1;}
		.data-gather .d-ft{height:34px;position:relative;}
		
.p-cols{zoom:1}
    .p-cols:after{content:".";display:block;height:0;clear:both;visibility:hidden}
    .p-cols .p-col1{width:100%;float:left}
    .p-cols .p-col2{float:left}
    .p-cols .p-col3{float:left}
    .new-p-cols .p-col1-1{margin:0 272px;}
    .new-p-cols .p-col2{width:258px;margin-left:-100%}
		.new-p-cols .p-col3{width:258px;margin-left:-258px}
	
.bx{position:relative}
	.bx .hd{background-position:0 0;border:1px solid #c6c6c6;border-left:2px solid #80b01d;height:38px;line-height:38px;position:relative;}
	.tbx .hd h2{padding-left:20px;}
	.mbx .t-hd{border-bottom:1px solid #c6c6c6;padding-bottom:8px;position:relative;zoom:1;}
	.mbx .t-bd{border-top:1px solid #f2f2f2;}

/*oa-select*/
	.oa-select{float:left;display:inline;margin:10px 5px 0 10px;}
	.oa-select a{width:83px;display:block;padding-left:10px;color:#fff;line-height:26px!important;line-height:26px;height:26px;overflow:hidden;}
	.oa-select #oa-select-bx{background-position:0 -155px;}
	.oa-select p{background:#3e3e3e;margin:0; padding:0;display:none;position:absolute;width:93px;padding-bottom:6px;}
	.oa-select #oa-select-bx.open{background-position:0 -181px;}
	.oa-select p a.current{color:#fff}
	
/*act*/
.act{position:absolute;right:10px;top:8px;width:12px;overflow:hidden;font-family:"Microsoft YaHei","微软雅黑",Tahoma,arial}
.act a{color:#383838;height:12px;font-size:14px;text-decoration:none;overflow:hidden;}

/*line*/
.line{height:1px;line-height:0;overflow:hidden;background-color:#dadada;border-bottom:1px solid #fff;margin:20px 0 10px 0;}