<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>xinrui日志服务</title>
	<link href="static/core.css" type="text/css" rel="stylesheet">
	<link href="static/_header.css") }}" type="text/css" rel="stylesheet">
	<link href="static/_page_nav.css" type="text/css" rel="stylesheet">
	<link href="static/_footer.css" type="text/css" rel="stylesheet">
	<link rel="shortcut icon" href="http://oa.qiyi.domain/image/favicon.ico">
</head>
<body id="daily">
<div class="wp">
		
	<title>日志查询</title>
	<link href="static/_table.css" type="text/css" rel="stylesheet">
	
	<div id="bd">
	<div class="module bx tbx mbx">
    	<div class="t-hd">
    		<h2>日志查询</h2>
		    <div class="crumb">
				<a href="/">首页</a>&gt;日志查询
		    </div>
   		</div>
		
		<div class="t-bd">
			<div class="bd">
				<div class="apply-seach">
					<form method="get" >
						<span>
							<label><strong>loggerName:</strong>
								<select class="f-select" id="loggerName" name="loggerName">
									% for n in loggerNames:
									<option value="${n}" 
									% if n==loggerName:
									selected="selected"
									% endif
									>${n}</option>
									% endfor
								</select>
							</label>
						</span>
						&nbsp;&nbsp;
						<span>
							<label><strong>level:</strong>
								<select class="f-select" id="level" name="level">
									<option value="">--全部--</option>
									% for l in levels:
									<option value="${l}"
									% if l==level:
									selected="selected"
									% endif
									>${l}</option>
									% endfor
									
								</select>
							</label>
						</span>
						&nbsp;&nbsp;
						<span>
							<label><strong>状态:</strong>
								<select class="f-select" id="status" name="status">
									<option value="-1">--全部--</option>
									% for s in status_list:
									<option value="${s}"
									% if s==status:
									selected="selected"
									% endif
									>${s}</option>
									% endfor
								</select>
							</label>
						</span>
						<span><strong>开始时间:</strong>
							<input type="text" value="" id="digest" name="digest" class="f-text" >
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
						<span><strong>结束时间:</strong>
							<input type="text" value="" id="digest" name="digest" class="f-text" >
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						</span>
						
						<input type="submit" value="查询" class="submit but2" id="personSearch">
					</form>
				</div>
			</div>
		    <div class="data-gather">
				<div class="d-bd p-cols">
					<div class="table-bx">
						<!--table-bd-->
						<div class="table">
						    <table class="J_zebra_lists tabc" width="100%">
							    <colgroup>
							    <col style="width:12%;">
							    <col style="width:8%;">
							    <col style="width:40%;">
							    <col style="width:8%;">
							    <col style="width:18%;">
							    <col style="width:4%;">
							    <col style="width:2%;">
							    </colgroup>
							    <thead>
								    <tr class="thead2">
									    <th>时间</th>
									    <th>level</th>
									    <th>message</th>
									    <th>ip</th>
									    <th>文件名</th>
									    <th>行数</th>
									    <th>状态 </th>
								    </tr>
							    </thead>
							    <tbody class="tbody">
									% for log in logs:
									<tr>
										<td>${log['created_at']}</td>
										<td>${log['level']}</td>
										<td>${log['message']}</td>
										<td>${log['ip'] }</td>
										<td>${log['fileName']}</td>
										<td>${log['lineNumber']}</td>
										<td>${log['status']}</td>
									</tr>
									% endfor
							    </tbody>
						    </table>
					    </div>
					</div>
				</div>
   			</div>
   			<!--data-gather-->
		</div>
	</div>
	</div>
</div>
